{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>练字助手</title>
    <link  type="text/css" rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <style>
        .navbar{
            border-radius:0;
        }
    </style>
</head>
<body class="setbackground">
<nav class="navbar navbar-default">
  <div class="container" style="float: left" >
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index" style="color:#121571">练字助手</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="/index">基础笔画</a></li>
          <li><a href="/AdPrac">进阶练习</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{request.session.info.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">设置</a></li>
            <li><a href="#">个人资料</a></li>
            <li><a href="#">内容管理</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout/">退出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
    <div>
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{% static 'jquery-3.6.1.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.js' %}"></script>
{% block js %}{% endblock %}
</body>
</html>